name: Buf
on:
  push:
    branches: [master]
    paths: ['api/proto/**']
  pull_request:
    paths: ['api/proto/**']

jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-action@v1
        with:
          token: ${{ secrets.BUF_TOKEN }}
          input: api/proto
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
