name: test
on:
  push:
    branches:
      - "**"
  pull_request: {}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-18.04
    steps:
      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: 1.x
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: lint
        run: |
          GO111MODULE=off GOBIN=$(pwd)/bin go get golang.org/x/lint/golint
          bin/golint -set_exit_status ./...
      - name: vet
        run: |
          go vet ./...
      - name: test
        run: |
          make test
  docker-build-test:
    runs-on: ubuntu-latest
    steps:
     - name: checkout
       uses: actions/checkout@v2
       with:
         fetch-depth: 1
     - name: docker build
       run: docker build .